/* .navbar {
    padding: 0.5rem -1rem!important;
} */

.text-light {
    color: white!important;
    font-weight: bold;
}


.dropdown, .dropdown-item {
    cursor: pointer;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px!important;
    }
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

.navbar {
    /* padding: 1rem 1rem; */
    padding: 7px 5px!important;
}